*{
    margin: 0 auto;
    box-sizing: border-box;
}

main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

main img{
    width: 100%;
    background-color: black;
    animation: fade 15s;
    margin-bottom: 10px;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

