
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;;
}

header h1{
    background-color: #023047;
    color: #fff;
    text-align: center;
    height: 100px;
    align-content: center;
}

nav{
    display: flex;
    background-color: #ffb703;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
}

nav a{
    text-decoration: none;
    color: black;

}

nav a:hover{
    text-decoration: overline;
}

.card {
    border: 2px solid #023047;
    margin: 15px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.card h2{
    background-color: #023047;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.card h3{
    text-align: center;
    border-bottom: 2px solid #023047;
    width: 300px;
    padding: 10px;
}

.card p{
    margin: 30px;
    line-height: 1.5;
}

main {
    justify-content: center;
    max-width: 800px;
    display: grid;
    grid-template-columns: 700px 350px;
}

.card

.profile {
    height: 150px;
    float: inline-end;
    margin: 1rem;
}

.flag{
    height: 150px;
    float: inline-start;
    margin: 20px;
}

main p{
    height: 150px;
}

.card a, ul{
    margin-left: 50px;
    margin-top: 100px;
    

    text-decoration: none;
    list-style-type: circle;

}

footer{
    background-color: #023047;
    margin: 50px;
    text-align: center;
    padding: 10px;
    color: #fff;
}


